<div class="container">
    <h1>Groups Management</h1>
  
    <!-- Add Group Button -->
    <div class="row mt-2">
        <div *ngIf="!showAddForm && canCreateGroups === true" class="col-md-2">
            <div class="form-group">
                <button class="btn btn-primary" (click)="showAddGroupForm()">Add Group</button>
            </div>
        </div>
        <div *ngIf="showAddForm" class="col-md-2">
            <div class="form-group">
                <button class="btn btn-primary" (click)="cancelAdd()">Cancel</button>
            </div>
        </div>
        <div *ngIf="showAddForm"  class="col-md-6">
            <div class="form-group">
              <input type="text" [(ngModel)]="newGroupName" class="form-control" placeholder="Enter Group Name" />
            </div>
        </div>
        <div *ngIf="showAddForm"  class="col-md-4">
            <button class="btn btn-success btn-block" (click)="addNewGroup()">Save</button>
        </div>
    </div>

    <div class="row mt-4">
        <table class="table table-bordered">
        <thead>
            <tr>
            <th>Name</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups">
            <td>{{ group.name }}</td>
            <td>
                <button *ngIf="canCreateGroups === true" class="btn btn-danger" (click)="removeGroup(group)">Remove</button>
                <button *ngIf="!canCreateGroups" class="btn btn-primary" (click)="requestAccess(group)">Request Access to Group</button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
  </div>
  