section{
  display:grid;
  grid-template-columns:  repeat(auto-fill, minmax(1200px, 1fr));
  gap:1em;
  
  background-color:#eaeaea;
}

.info{
  padding:1em;

}

body {
  font-family: Arial, sans-serif;
}
.chat-container {
  display: flex;
  height: 100%;
}
.channel-list {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
  background: rgb(118, 118, 175);
}

.user-list {
  flex: 4;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
  background: #f0f0f0;

}

.group-list {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  background: #484494;
}
.chat-box {
  flex: 8;
  padding: 20px;
  overflow-y: scroll;
  background: #f5f5f5;
}

.channel-li {
  color: white;
}

.channel-h2 {
  color: white;
}

.group-li {
  color: white;
}

.group-h2 {
  color: white;
}

.white {
  color: white;
}

.newGroupSubmitBtn {
  margin-top: 20px;
}

.card-body-size {
  height: 900px;
}

.groupsButton {
  background: none;
}

.createGroupButton {
  margin-top: 30px;
  width: 200px;
  background: #5dbdaa;
}

