<div class="chat-container">
  <div class="group-list">
  <!-- <h2 class="group-h2" (click)="fetchGroups()">Groups</h2> -->
  <h2 class="group-h2" >Groups</h2>
  <ul class="group-li" *ngFor="let group of groupsArray">
    <li><button class="groupsButton"(click)="fetchChannels(group.id)">{{ group.name }}</button></li>
  </ul>
  </div>
  <div class="channel-list">
    <h2 class="channel-h2">Channels</h2>
    <ul class="channel-li" *ngFor="let channel of channelsArray">
      <li><button class="groupsButton"(click)="fetchUsersChannel(channel.id)">{{ channel.name }}</button></li>
      <!-- Add more channels here -->
    </ul>
  </div>
  <div class="user-list">
    <h2 class="channel-group">users</h2>
    <ul *ngFor="let usersChannel of usersChannelArray">
      <li>{{ usersChannel.username }}</li>
      <!-- Add more users here -->
    </ul>
  </div>

  <div class="chat-box">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h1 class="text-center">Welcome to Our Chat</h1>
                  </div>
                  <div class="card-body card-body-size" id="chat-content">
                    <!-- Chat messages will be displayed here -->
                    
                  </div>
                  <div class="card-footer">
                      <div class="input-group">
                          <input type="text" class="form-control" id="user-message" placeholder="Type your message...">
                          <button class="btn btn-primary" id="send-button">Send</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>