<div class="chat-container">
  <div class="group-list">
  <h2 class="group-h2">Groups</h2>
  <ul class="group-li">
    <li>Group A</li>
    <li>Group B</li>
    <!-- Add more groups here -->
  </ul>
  </div>
  <div class="channel-list">
    <h2 class="channel-h2">Channels</h2>
    <ul class="channel-li">
      <li>#general</li>
      <li>#random</li>
      <!-- Add more channels here -->
    </ul>
  </div>
  <div class="user-list">
    <h2 class="channel-group">users</h2>
    <ul>
      <li>Luber Echavarria</li>
      <li>Marcela Cuellar</li>
      <li>Sarai Echavarria</li>
      <!-- Add more users here -->
    </ul>
  </div>

  <div class="chat-box">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h1 class="text-center">Welcome to Our Chat</h1>
                  </div>
                  <div class="card-body card-body-size" id="chat-content">
                    <!-- Chat messages will be displayed here -->
                    
                  </div>
                  <div class="card-footer">
                      <div class="input-group">
                          <input type="text" class="form-control" id="user-message" placeholder="Type your message...">
                          <button class="btn btn-primary" id="send-button">Send</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>