.app-container{
  padding-top:2rem;
}

.sizeFont {
  font-family: Quicksand;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: white;
}

.tapActive {
  color: blue;
  text-decoration: underline ;
}

.header {
  background: #c1c2c6;
  height: 80px;
  width: 100%;
}

.container-main-chat {
  height: 90%;
  padding-left: 13px;
}

.mt-0 {
  margin-bottom: 0 !important;
}

.navbar {
  padding-bottom: 0;
}

