  <div class="container-fluid appMargin " >
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid header ">
      <div id="topheader" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav " >
          <li class="nav-item" >
            <a (click)="setActive('home')" [class.tapActive]=home href="/home" class="nav-link sizeFont" aria-current="page">Home</a>
          </li>
          <li *ngIf="canViewUsers === true" class="nav-item" >
            <a (click)="setActive('users')" [class.tapActive]=users href="/users" class="nav-link sizeFont" aria-current="page">Users</a>
          </li>
          <li class="nav-item">
            <a (click)="setActive('groups')" [class.tapActive]=groups href="/groups" class="nav-link sizeFont" >Groups</a>
          </li>
          <li class="nav-item">
            <a (click)="setActive('profile')" [class.tapActive]=profile class="nav-link sizeFont" href="/profile" >Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link sizeFont" href="/login" *ngIf="!isLoggedin">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link sizeFont" href="" (click) ="logout($event)" *ngIf="isLoggedin">Logout</a>
          </li>
        </ul>
      </div>
      <div *ngIf="isLoggedin" class="logged-in-user sizeFont">Hello, {{currentuser.username}}!</div>
      </div>
    </nav>
  </div>
  <div class="container-main-chat" >
      <router-outlet></router-outlet>
  </div>


