<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body" *ngIf="!loggedin">
        <form>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" [(ngModel)]="username" name="username" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" [(ngModel)]="pwd" name="pwd" class="form-control" />
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-fill" (click)="signin($event)">Login</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary btn-fill" (click)="signup($event)">Sign Up</button>
                    </div>
                </div>
            </div>
            <div id="errormsg">{{errormsg}}</div>
        </form>
    </div>
    <div class="card-body" *ngIf="loggedin">
        <h3>You are already logged in.</h3>
        <a href="/home">Home</a>
    </div>
</div>
